html {
  box-sizing: border-box;
  min-height: 100%;
  font-size: 65.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: 'roboto', sans-serif;
  background: -webkit-linear-gradient( #007d35 0%, #007d35 40%, #0f574e 100%);
}
@media (min-width:768px) {
  body {
    align-items: center;
    background-size: 400px, 100% 100%;
  }
  img{
    width: 400px !important;
  }
}
img{
  width: 100%;
  min-height: 100%;
}
#root {
  width: 100%;
}